BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 80
SpaceAfterCStyleCast: false
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
AlignConsecutiveMacros: Consecutive
UseCRLF: false